
<div class="hidden-handlebars">
  <li>
    <p>
      <h3>{{generic_club.brand}} : {{generic_club.club_type}}</h3>
      Head Feature: {{generic_club.head_feature}} <br>
      Shaft Stiffness: {{generic_club.shaft_stiffness}} <br>
      Condition: {{club.condition}} <br>
    </p>
  </li>
</div>
