<script id="entry-template" type="text/x-handlebars-template">
  <li>
    <p>
      <h5>{{listable.generic_club.brand}} : {{listable.generic_club.club_type}}</h5>
      <h6>{{listable.id}}</h6>
      Head Feature {{listable.generic_club.head_feature}} <br>
      Shaft Stiffness {{listable.generic_club.shaft_stiffness}} <br>
      Condition {{listable.condition}} <br>
    </p>
  </li>
</script>
