<script id="entry-template" type="text/x-handlebars-template">
  <li>
    <p>
      <h3>{{listable.generic_club.brand}} : {{listable.generic_club.club_type}}</h3>
      <h4>{{listable.id}}</h4>
      Head Feature {{listable.generic_club.head_feature}} <br>
      Shaft Stiffness {{listable.generic_club.shaft_stiffness}} <br>
      Condition {{listable.condition}} <br>
    </p>
  </li>
</script>
