<!-- Search Bar Start -->
<div class="row">
  Search Bar Goes Here
</div>
<!-- Search Bar End -->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      This is for search term checkboxes
    </div>

    <!-- Search results go in here -->
    <div class="col-md-9">
      <% @listings.each do |listing| %>
        <div class="col-md-3 car btn btn-default listing">
          <%= render partial: 'listing', locals:{listing:listing}%>
        </div>
      <% end %>
    </div>
    <!-- end search results -->

  </div>

</div>
