<script id="club-details-template" type="text/x-handlebars-template">
  <div class='row jumbotron'>
    <div class='col-xs-12' id='details'>
      <h5><strong><u>Club Details</u></strong></h5>
        <h6><strong>Type:</strong><br>{{club_type}}</h6>
        <h6><strong>Brand:</strong><br>{{brand}}</h6>
        <h6><strong>Gender:</strong><br>{{male}}</h6>
        <h6><strong>Hand:</strong><br>{{righty}}</h6>
        <h6><strong>Head Feature:</strong><br>{{head_feature}}</h6>
        <h6><strong>Shaft Stiffness:</strong><br>{{shaft_stiffness}}</h6>
        <h6><strong>Condition:</strong><br>{{condition}}</h6>
        <hr>
    </div>
  </div>
</script>