<script id="reservations-template" type="text/x-handlebars-template">
  <div class='col-md-12'>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th width='41%'>Type</th>
          <th width='17%'>Start</th>
          <th width='17%'>End</th>
          <th width='15%'>Total</th>
          <th width='10%'>Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each reservations as |reservation|}}
          <tr>
            <td width='41%'><a href={{url}} class='reservation-details-link' data-method='get' data-remote='true'>{{description}}</a></td>
            <td width='17%'>{{start_date}}</td>
            <td width='17%'>{{finish_date}}</td>
            <td width='15%'>${{price}}</td>
            <th width='10%'><a href={{url}} data-method='delete' data-remote="true" class='user-page-cancel'>Cancel</a></th>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</script>
