<h1>Analytics</h1>
<br>
<h3>Percent of listings equal to or under $5: %<%= @listings_under_5%></h3>
<h3>Number of unique clubs over total number of active listings: %<%= @uniq_club_ratio%></h3>
<h3>Number of unique club sets over total number of active listings: %<%= @uniq_club_set_ratio%></h3>

<canvas id="myChart" width="400" height="400"></canvas>
