<body id="page-top" class="index">
  <header>
      <div class="container">
          <div class="intro-text">
              <h2>Want to play a round...</h2>
              <h1>Git-A-Club</h1>
              <a href="/login" class="btn btn-success">Login</a>
          </div>
      </div>
  </header>
