<h2>Upcoming Reservations</h2>
<% @upcoming_reservations.each do |reservation| %>
  <h5><%= reservation.listing.listable.description %></h5>
  <%= link_to reservation.listing.id, reservation.listing %>
<% end %>

<h2>Past Reservations</h2>
<% @past_reservations.each do |reservation| %>
  <h5><%= reservation.listing.listable.description %></h5>
  <%= link_to reservation.listing.id, reservation.listing %>
<% end %>