.listing-button {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.search-box {
  padding: 10px;
  margin: 10px;
}

.hidden-handlebars {
  display: none;
}

.hide-form {
  display: none;
}

.homepage-background {
  background-image: url(/assets/git-a-club-background.jpg);
  background-repeat: none;
  background-attachment: scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;background-size:cover;
  -o-background-size:cover;text-align:center;
  color:#fff;
  height: 300px;
}

.calendar-container {
  text-align: center;
}

.calendar {
  display:inline-block;
  margin:0 auto;
}

.collection-check-box {
  display: block;
}

.collection-check-box:after {
    content:"\a";
    white-space: pre;
}

.uppercase-text {
  text-transform: uppercase;
}

.listing-show-description {
  font-size: 125%;
}

.landing-page-text {
  font-size: 550%;
  color: #0c84e4;;
}

.reservation-show {
  font-size: 20px;
}

.buffer {
  padding: 5px;
  margin: 5px
}

.share-image{
  color:#fff;
  height: 100px;
  width: 100px;
  opacity: .9;
}

.cash-image{
  color:#fff;
  height: 100px;
  width: 100px;
  opacity: .45;
}

.golf-image{
  color:#fff;
  height: 100px;
  width: 100px;
  opacity: 1;
}

.user-image{
  color:#fff;
  height: 200px;
  width: 200px;
  opacity: 1;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}