.listing-button {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.search-box {
  padding: 10px;
  margin: 10px;
}

.hidden-handlebars {
  display: none;
}

.hide-form {
  display: none;
}

.homepage-background {
  background-image: url(/assets/git-a-club-background.jpg);
  background-repeat: none;
  background-attachment: scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;background-size:cover;
  -o-background-size:cover;text-align:center;
  color:#fff;
  height: 300px;
}

.calendar-container {
  text-align: center;
}

.calendar {
  display:inline-block;
  margin:0 auto;
}

.collection-check-box {
  display: block;
}

.collection-check-box:after {
    content:"\a";
    white-space: pre;
}

.uppercase-text {
  text-transform: uppercase;
}

.listing-show-description {
  font-size: 125%;
}

.landing-page-text {
  font-size: 550%;
  color: #0c84e4;;
}

.reservation-show {
  font-size: 20px;
}

.buffer {
  padding: 5px;
  margin: 5px
}

.share-image{
  color:#fff;
  height: 100px;
  width: 100px;
  opacity: .9;
}

.cash-image{
  color:#fff;
  height: 100px;
  width: 100px;
  opacity: .45;
}

.golf-image{
  color:#fff;
  height: 100px;
  width: 100px;
  opacity: 1;
}

.user-image{
  color:#fff;
  height: 200px;
  width: 200px;
  opacity: 1;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

/*body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}*/
.day {
  fill: #fff;
  stroke: #ccc;
}
.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}
