<div class="container">
  <div class="row">
    <div class="col-md-3">
    <h2>My Clubs</h2>
    </div>
    <div class="col-md-1">
      <h2><%= button_to "+", new_supplier_club_path(@supplier), method: :get %><h2>
    </div>
    <div class="col-md-8">
    </div>
  </div>
  <div class='row'>
    <%= render partial:'clubs', locals: {clubs: @clubs, supplier: @supplier} %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    <h2>My Sets</h2>
    </div>
    <div class="col-md-1">
      <h2><%= button_to "+", new_supplier_club_set_path(@supplier), method: :get %><h2>
    </div>
    <div class="col-md-8">
    </div>
  </div>
  <div class='row'>
    <%= render partial:'club_sets', locals: {club_sets: @club_sets, supplier: @supplier} %>
  </div>
</div>

