<%=flash[:notice]%>
<h1> Suppliers page </h1>

<p id="notice"><%= notice %></p>
<h2>Your Clubs</h2>

<%= render partial:'clubs', locals: {clubs: @clubs, supplier: @supplier} %>

<br>

<h2>Your Sets</h2>

<%= render partial:'club_sets', locals: {club_sets: @club_sets, supplier: @supplier} %>
